.about {
    padding: 0 2rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.about_right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.about_right > img {
    width: clamp(300px, 60%, 400px);
}

@media only screen and (max-width: 850px) {
    .about {
        padding: 50px 50px;
        flex-direction: column;
    }
    .about_right {
        justify-content: center;
    }
    .about_right > img {
        width: 80%;
    }
}