:root {
    --textPrimary: black;
    --textSecondary: rgb(107, 94, 150);
    --lightPrimary: rgb(157, 188, 221);
}

html, body {
    width: 100%;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: clamp(10px, 1.1vw, 16px);
}

* {
    box-sizing: inherit;
}

.page {
    padding: 0 2rem;
    margin-bottom: 3rem;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
    margin-top: 1.5rem;
}
p + p {
    margin-top: 1rem;
}

.section {
    padding: 40px 50px 0px 40px;
    font-size: 2em;
}

a {
    color: inherit;
    transition: color 0.3s ease-out;
    cursor: pointer;
}
a:hover, a:focus {
    color: var(--textSecondary);
}

h2 {
    font-size: 4rem;
    color: var(--textSecondary);
}
h3 {
    font-size: 2rem;
}