.header {
    display: flex;
    flex-direction: row;
    font-size: 1.4em;
    justify-content: space-between;
}
.header_left {
    flex: 1;
    font-weight: 600;
}
.header_right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.header_right > a {
    margin: 0 min(20px, 1.5vw);
}